<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulic.core.channel.dao.BusinessDivisionMapper">
  <resultMap id="BaseResultMap" type="com.ulic.core.channel.bean.BusinessDivision">
    <id column="division_id" jdbcType="VARCHAR" property="divisionId" />
    <result column="division_name" jdbcType="VARCHAR" property="divisionName" />
    <result column="division_manager" jdbcType="VARCHAR" property="divisionManager" />
    <result column="division_manager_phone" jdbcType="VARCHAR" property="divisionManagerPhone" />
    <result column="division_manager_email" jdbcType="VARCHAR" property="divisionManagerEmail" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    division_id, division_name, division_manager, division_manager_phone, division_manager_email, 
    branch_id, wechat_openid, remark, created_time, editor, updated_time
  </sql>
  <select id="flushCache" resultType="int" flushCache="true" useCache="false">
    select 1 from dual
  </select>
</mapper>