<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulic.core.channel.dao.FeeStrategyMapper">
  <resultMap id="BaseResultMap" type="com.ulic.core.channel.bean.FeeStrategy">
    <id column="fee_strategy_id" jdbcType="BIGINT" property="feeStrategyId" />
    <result column="fee_strategy_name" jdbcType="VARCHAR" property="feeStrategyName" />
    <result column="fee_rate" jdbcType="REAL" property="feeRate" />
    <result column="billing_cycle_unit" jdbcType="CHAR" property="billingCycleUnit" />
    <result column="billing_cycle" jdbcType="INTEGER" property="billingCycle" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="editor" jdbcType="VARCHAR" property="editor" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    fee_strategy_id, fee_strategy_name, fee_rate, billing_cycle_unit, billing_cycle, 
    remark, creator, created_time, editor, updated_time
  </sql>
  <select id="flushCache" resultType="int" flushCache="true" useCache="false">
    select 1 from dual
  </select>
  
  <select id="selectFeeStrategyByProChannel" parameterType="string" resultMap="BaseResultMap" >
    SELECT * FROM fee_strategy f 
    WHERE f.fee_strategy_id = (
    	SELECT p.fee_strategy_id FROM product_channel p 
    	WHERE p.channel_id = #{channelId,jdbcType=VARCHAR}
    	AND p.product_metadata_id = #{metadataId,jdbcType=VARCHAR}
    )
  </select>
  
  
</mapper>