<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulic.core.proposal.dao.ProposalFormRecordMapper">
  <resultMap id="BaseResultMap" type="com.ulic.core.proposal.bean.ProposalFormRecord">
    <id column="proposal_form_id" jdbcType="BIGINT" property="proposalFormId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="coop_request_id" jdbcType="VARCHAR" property="coopRequestId" />
    <result column="wechat_openid" jdbcType="VARCHAR" property="wechatOpenid" />
    <result column="refer_id" jdbcType="VARCHAR" property="referId" />
    <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="handler_server" jdbcType="VARCHAR" property="handlerServer" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    proposal_form_id, channel_id, coop_request_id, wechat_openid, refer_id, agency_id, 
    member_id, client_ip, handler_server, created_time, updated_time
  </sql>
</mapper>