<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulic.core.proposal.dao.ProposalMapper">
  <resultMap id="BaseResultMap" type="com.ulic.core.proposal.bean.Proposal">
    <id column="proposal_id" jdbcType="VARCHAR" property="proposalId" />
    <result column="proposal_form_id" jdbcType="BIGINT" property="proposalFormId" />
    <result column="product_metadata_id" jdbcType="VARCHAR" property="productMetadataId" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="refer_id" jdbcType="VARCHAR" property="referId" />
    <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="institution_code" jdbcType="VARCHAR" property="institutionCode" />
    <result column="parent_proposal_id" jdbcType="VARCHAR" property="parentProposalId" />
    <result column="holder_type" jdbcType="INTEGER" property="holderType" />
    <result column="holder_name" jdbcType="VARCHAR" property="holderName" />
    <result column="holder_phone" jdbcType="VARCHAR" property="holderPhone" />
    <result column="holder_cidtype" jdbcType="VARCHAR" property="holderCidtype" />
    <result column="holder_cidno" jdbcType="VARCHAR" property="holderCidno" />
    <result column="premium" jdbcType="BIGINT" property="premium" />
    <result column="online_pay" jdbcType="INTEGER" property="onlinePay" />
    <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
    <result column="proposal_status" jdbcType="INTEGER" property="proposalStatus" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="handler_server" jdbcType="VARCHAR" property="handlerServer" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="proposal_content" jdbcType="LONGVARCHAR" property="proposalContent" />
    <result column="response_data" jdbcType="LONGVARCHAR" property="responseData" />
  </resultMap>
  
  <sql id="Base_Column_List">
    proposal_id, proposal_form_id, product_metadata_id, channel_id, refer_id, agency_id, 
    member_id, institution_code, parent_proposal_id, holder_type, holder_name, holder_phone, 
    holder_cidtype, holder_cidno, premium, online_pay, coupon_id, proposal_status, client_ip, 
    handler_server, created_time, updated_time,proposal_content, response_data
  </sql>
  
  <sql id="holder_phone">
   holder_phone
  </sql>
  
  <sql id="updateSql">				
		<if test="proposalId != null">
			proposal_id = #{proposalId,jdbcType=VARCHAR},
		</if>
		<if test="proposalFormId != null">
			proposal_form_id = #{proposalFormId,jdbcType=VARCHAR},
		</if>			
		<if test="productMetadataId != null">
			product_metadata_id = #{productMetadataId,jdbcType=VARCHAR},
		</if>
		<if test="channelId != null">
			channel_id = #{channelId,jdbcType=VARCHAR},
		</if>
		<if test="referId != null">
			refer_id = #{referId,jdbcType=VARCHAR},
		</if>
		<if test="agencyId != null">
			agency_id = #{agencyId,jdbcType=VARCHAR},
		</if>
		<if test="memberId != null">
			member_id = #{memberId,jdbcType=VARCHAR},
		</if>
		<if test="institutionCode != null">
			institution_code = #{institutionCode,jdbcType=VARCHAR},
		</if>
		<if test="parentProposalId != null">
			parent_proposal_id = #{parentProposalId,jdbcType=VARCHAR},
		</if>
		<if test="holderType != null">
			holder_type = #{holderType,jdbcType=INTEGER},
		</if>
		<if test="holderName != null">
			holder_name = #{holderName,jdbcType=VARCHAR},
		</if>
		<if test="holderPhone != null">
			holder_phone = #{holderPhone,jdbcType=VARCHAR},
		</if>	
		<if test="holderCidtype != null">
			holder_cidtype = #{holderCidtype,jdbcType=INTEGER},
		</if>	
		<if test="holderCidno != null">
			holder_cidno = #{holderCidno,jdbcType=VARCHAR},
		</if>	
		<if test="premium != null">
			premium = #{premium,jdbcType=LONG},
		</if>	
		<if test="onlinePay != null">
			online_pay = #{onlinePay,jdbcType=INTEGER},
		</if>		
		<if test="couponId != null">
			coupon_id = #{couponId,jdbcType=VARCHAR},
		</if>	
		<if test="proposalContent != null">
			proposal_content = #{proposalContent,jdbcType=LONGVARCHAR},
		</if>	
		<if test="proposalStatus != null">
			proposal_status = #{proposalStatus,jdbcType=INTEGER},
		</if>	
		<if test="clientIp != null">
			client_ip = #{clientIp,jdbcType=VARCHAR},
		</if>	
		<if test="handlerServer != null">
			handler_server = #{handlerServer,jdbcType=VARCHAR},
		</if>
		<if test="createdTime != null">
			created_time = #{createdTime,jdbcType=TIMESTAMP},
		</if>
		<if test="updatedTime != null">
			updated_time = #{updatedTime,jdbcType=TIMESTAMP},
		</if>	
		<if test="responseData != null">
			response_data = #{responseData,jdbcType=LONGVARCHAR},
		</if>
	</sql>
  
  <update id="updateProposalStatusByProposalFromId" parameterType="insure.platform.core.proposal.bean.ProposalForm">
		update proposal
		<set>
			<include refid="updateSql"></include>
		</set>
		where proposal_form_id = #{proposalFormId,jdbcType=BIGINT}
	</update>
	<select id="findByFormId" parameterType="long" resultMap="BaseResultMap">
		SELECT * FROM proposal WHERE proposal_form_id=#{formId}
	</select>

	
	<select id="getProposalFormIdByTradeId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT 
			DISTINCT proposal_form_id
		FROM
			proposal p
		JOIN trade_proposal tp ON p.proposal_id = tp.proposal_id
		JOIN trade t ON tp.trade_id = t.trade_id
		WHERE
			t.trade_id = #{tradeId}
    </select>

	
	 <select id="findPhone" parameterType="String" resultMap="BaseResultMap">
  	select a.* from proposal a,policy b where a.proposal_id=b.trade_proposal_id and b.policy_id=#{formId,jdbcType=VARCHAR}
  </select>

</mapper>