<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ulic.core.proposal.dao.ProposalFormMapper">
	<resultMap id="BaseResultMap"
		type="com.ulic.core.proposal.bean.ProposalForm">
		<id column="proposal_form_uniq_id" jdbcType="BIGINT" property="proposalFormUniqId" />
		<result column="proposal_form_id" jdbcType="BIGINT" property="proposalFormId" />
		<result column="product_metadata_id" jdbcType="VARCHAR"
			property="productMetadataId" />
		<result column="trans_id" jdbcType="BIGINT" property="transId" />
		<result column="proposal_form_step" jdbcType="VARCHAR"
			property="proposalFormStep" />
		<result column="request_cookie" jdbcType="VARCHAR" property="requestCookie" />
		<result column="response_data" jdbcType="VARCHAR" property="responseData" />
		<result column="proposal_form_status" jdbcType="INTEGER"
			property="proposalFormStatus" />
		<result column="policy_relation_status" jdbcType="INTEGER"
			property="policyRelationStatus" />
		<result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
		<result column="handler_server" jdbcType="VARCHAR" property="handlerServer" />
		<result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
		<result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="com.ulic.core.proposal.bean.ProposalForm">
		<result column="proposal_form_step_content" jdbcType="LONGVARCHAR"
			property="proposalFormStepContent" />
	</resultMap>
	<sql id="Base_Column_List">
		proposal_form_uniq_id, proposal_form_id,
		product_metadata_id, trans_id, proposal_form_step,
		request_cookie,
		response_data, proposal_form_status,
		policy_relation_status, client_ip,
		handler_server, created_time, updated_time
	</sql>
	<sql id="Blob_Column_List">
		proposal_form_step_content
	</sql>

	<sql id="updateSql">				
			<if test="productMetadataId != null">
				product_metadata_id = #{productMetadataId,jdbcType=VARCHAR},
			</if>
			<if test="transId != null">
				trans_id = #{transId,jdbcType=BIGINT},
			</if>			
			<if test="requestCookie != null">
				request_cookie = #{requestCookie,jdbcType=VARCHAR},
			</if>
			<if test="reposeData != null">
				response_data = #{responseData,jdbcType=VARCHAR},
			</if>
			<if test="proposalFormStatus != null">
				proposal_form_status = #{proposalFormStatus,jdbcType=INTEGER},
			</if>
			<if test="policyRelationStatus != null">
				policy_relation_status = #{policyRelationStatus,jdbcType=INTEGER},
			</if>
			<if test="clientIp != null">
				client_ip = #{clientIp,jdbcType=VARCHAR},
			</if>
			<if test="handlerServer != null">
				handler_server = #{handlerServer,jdbcType=VARCHAR},
			</if>
			<if test="createdTime != null">
				created_time = #{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatedTime != null">
				updated_time = #{updatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="proposalFormStepContent != null">
				proposal_form_step_content = #{proposalFormStepContent,jdbcType=LONGVARCHAR},
			</if>		
	</sql>


	<select id="countByProposalFormIdAndStep" resultType="int"
		parameterType="com.ulic.core.proposal.bean.ProposalForm">
		select count(*) from proposal_form
		where proposal_form_id
		= #{proposalFormId,jdbcType=BIGINT}
		and proposal_form_step =
		#{proposalFormStep,jdbcType=VARCHAR}
		and product_metadata_id = 
		#{productMetadataId,jdbcType=VARCHAR}
	</select>

	<update id="updateByProposalFormIdAndStep" parameterType="com.ulic.core.proposal.bean.ProposalForm">
		update proposal_form
		<set>
			<include refid="updateSql"></include>
		</set>
		where proposal_form_id = #{proposalFormId,jdbcType=BIGINT}
		and	proposal_form_step = #{proposalFormStep,jdbcType=VARCHAR}
		and product_metadata_id = 
		#{productMetadataId,jdbcType=VARCHAR}
	</update>
	
</mapper>